<header class="header">
    <div class="logo">
      <img src="https://www.ipn.mx/assets/files/main/img/template/pleca-ipn.png" alt="img">
    </div>

    <div class="instituto">
      <h1>INSTITUTO POLITÉCNICO NACIONAL</h1>
      <h2> ESCUELA SUPERIOR DE COMERCIO Y ADMINISTRACIÓN</h2>
      <h3> UNIDAD SANTO TOMÁS</h3>
      
    </div>

    <div class="logo">
        <img src="https://www.escasto.ipn.mx/assets/files/main/img/logotipos-UR/ns/ESCA-STO.png" alt="img">
    </div>

</header>


<div class="wrap-datos">
    <div class="subs">
        <h3>
            SUBDIRECCIÓN DE APOYOS EDUCATIVOS E INTEGRACIÓN SOCIAL
        </h3>
        <h3>
            DEPARTAMENTO DE EXTENSIÓN Y APOYOS EDUCATIVOS
        </h3>
    </div>
</div>

<nav class="barra-navegacion">
    <div>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Conocenos</a></li>
            <li><a href="#">Investigación</a></li>
        </ul>
    </div>
</nav>