{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/headerAlumno.html' %}
{% endblock %}

{% block body %}

<div class="main-page column-container">

    <div class="barra-lateral">
        <h4>{{expediente.nombre}}</h4>
        <h4>{{expediente.paterno}} {{expediente.materno}} </h4>
        <p><strong>Número de registro:</strong> {{expediente.numero}}</p>
        <p><strong>Boleta:</strong> {{expediente.boleta}}</p>
        <p><strong>Carrera:</strong> {{expediente.carrera}}</p>
        <p><strong>Prestatario:</strong> {{expediente.prestatario}}</p>
        <p><strong>Fecha Inicio:</strong> {{expediente.fecha_inicio}}</p>
        <p><strong>Fecha Término:</strong> {{expediente.fecha_termino}}</p>
        <p><strong>Correo electronico:</strong> {{expediente.correo}}</p>
        <p><strong>Fecha registro:</strong> {{expediente.fecha_registro}}</p>
        
    </div>
    <div class="contenido barra-central">
        <div class="row-container">
            <div>
                <h3>Expediente</h3>
                <p></p>
            </div>
        </div>
        <table>
            <tr>
                <th>#</th>
                <th>Documento</th>
                <th>Estado</th>
                <th>Fecha de envio</th>
                <th>Fecha de aceptado</th>
                <th></th>
                <th></th>
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">1</td>
                <td class="centrar-texto">{{ documentos[0]['tipo_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[0]['status_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[0]['fecha_envio'] }}</td>
                <td class="centrar-texto">{{ documentos[0]['fecha_aceptado'] }}</td>
                <td class="centrar-texto"><a href="">Visualizar</a></td>
                <td class="centrar-texto">
                   ACEPTADO
                </td>
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">2</td>
                <td class="centrar-texto">{{ documentos[1]['tipo_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[1]['status_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[1]['fecha_envio'] }}</td>
                <td class="centrar-texto">{{ documentos[1]['fecha_aceptado'] }}</td>
                <td class="centrar-texto"><a href="">Visualizar</a></td>
                <td class="centrar-texto">
                    <button>Aceptar</button>
                    <button>Rechazar</button>
                </td>
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">3</td>
                <td class="centrar-texto">{{ documentos[2]['tipo_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[2]['status_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[2]['fecha_envio'] }}</td>
                <td class="centrar-texto">{{ documentos[2]['fecha_aceptado'] }}</td>
                <td class="centrar-texto"><a href="">Visualizar</a></td>
                <td class="centrar-texto">
                    <button>Aceptar</button>
                    <button>Rechazar</button>
                </td>
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">4</td>
                <td class="centrar-texto">{{ documentos[3]['tipo_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[3]['status_documento'] }}</td>
                <td class="centrar-texto">{{ documentos[3]['fecha_envio'] }}</td>
                <td class="centrar-texto">{{ documentos[3]['fecha_aceptado'] }}</td>
                <td class="centrar-texto"><a href="">Visualizar</a></td>
                <td class="centrar-texto">
                    <button>Aceptar</button>
                    <button id="btnAbrir">Rechazar</button>
                </td>
            </tr>
        </table>
    </div>

</div>

{% if expediente.espera == False %}
    {% for documento in documentos %}
        {% if documento.id_tipo == 1 and documento.id_status == 1 %}
        <div class="main-page">
            <div class="wrap-datos">
                <div id="idregistro">
                    <h1 class="titulo_Registro_sistema">Expediente</h1>
                    <div>
                        <h4> Suba su expediente en el siguiente apartado, y espere la validación de los administradores </h4>
                    </div>
                
                    <form action="/subir_expediente" method="post" enctype="multipart/form-data">
                        <div class="dp-campo_registro">
                            <div>
                                <label class="form-label">Expediente</label>
                                <div class="Idp-campo">
                                    <input id="expediente" type="file" name="expediente" accept=".pdf" onchange="validarArchivo()" required >
                                </div>
                            </div>
                        </div>

                        <div id="error-message" style="display:none ;" class=" banner_error red no-margin no-padding dp-campo">
                            <p class="error-message"  > El archivo debe pesar menos de 3MB </p> 
                        </div>
        
                        <div class="dp-campo">
                            <div>
                                <label></label>
                                <div class="Idp-submit_registro">
                                    <input type="submit">
                                </div>   
                            </div>
                        </div>
                    </form>
                </div>
        
            </div>
        
            
        
        </div>
        {% endif %}
    {% endfor %}
{% endif %}


<script>

function validarArchivo() 
{
  const fileInput = document.getElementById('expediente');
  const errorMessage = document.getElementById('error-message');
  const maxFileSize = 3 * 1024 * 1024; // 3 MB

  errorMessage.style.display="none";
  
  if (fileInput.files[0].size > maxFileSize) 
  {
    errorMessage.style.display="block";
    fileInput.value = '';
  } 
}

</script>

{% endblock %}