{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/headerAlumno.html' %}
{% endblock %}

{% block body %}

<div class="main-page"> 
    <div style="width: 100%;">
        <div class="container-data">
            <h4>Datos del Prestador</h4>
            <div>
                <p><strong>Boleta:</strong> {{expediente.boleta}}</p>
                <p><strong>Nombre:</strong> {{expediente.nombre}} {{expediente.paterno}} {{expediente.materno}}</p>
                <p><strong>RFC o CURP:</strong> {{expediente.curp}}</p>
                <p><strong>Sexo:</strong> {{expediente.sexo}}</p>
                <p><strong>Dirección:</strong> {{expediente.direccion}} {{expediente.codigo_postal}} {{expediente.alcaldia}}</p>
                <p><strong>Telefono:</strong> {{expediente.tel_particular}}</p>
                <p><strong>Correo Electronico:</strong> {{expediente.correo}}</p>
                <p><strong>Escolaridad:</strong> {{expediente.escolaridad}}</p>
                <p><strong>Carrera:</strong> {{expediente.carrera}}</p>
                <p><strong>Clave:</strong> {{expediente.clave_carrera}}</p>
            </div>
        </div>

        <div class="container-data">
            <h4>Datos del Prestatario</h4>
            <div>
                <p><strong>Prestatario:</strong> {{expediente.prestatario}}</p>
                <p><strong>Programa:</strong> {{expediente.programa}}</p>
                <p><strong>Responsable Directo:</strong> {{expediente.responsable}}</p>
                <p><strong>Cargo:</strong> {{expediente.cargo}}</p>
                <p><strong>Teléfono:</strong> {{expediente.tel_responsable}}</p>
                <p><strong>Dirección:</strong> {{expediente.ubicacion_calleynum}} {{expediente.ubicacion_colonia}} {{expediente.ubicacion_codpos}} {{expediente.ubicacion_alcaldia}}</p>
                <p><strong>Correo Electrónico:</strong> {{expediente.correo_prestatario}}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}