
.modificar-datos-personales{
    display: none;
}

.productividad{
    display: none;
}

.wrap-datos input {
    font-family: sans-serif;
    background: #f5f5f5;
    width: 100%;
    border: 1px solid #f5f5f5;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 0.9em;
  }
  
.wrap-datos  input[type=submit] {
    font-family: sans-serif;
    background: rgba(104, 36, 68, 0.87);
    color: #FFFFFF;
    width: 100%;
    border: 1px solid #050505;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 0.9em;
}

.wrap-datos  input[type=submit]:hover, input[type=submit]:active, input[type=submit]:focus{
    background: rgba(104, 36, 68, 1);
}


.wrap-datos button {
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:rgba(104, 36, 68, 0.90);
    width: auto;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius: 7px;
}
  
.wrap-datos button:hover, .wrap-datos button:active, .wrap-datos button:focus {
    background:rgba(104, 36, 68, 0.98);
}

.wrap-datos .dp-campo .Idp-campo{
    width: 100%;
}

.wrap-datos .dp-campo .Idp-submit{
    width: 75%;
}

.wrap-datos .dp-campo div{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: right;
    width: 100%;
    height: auto;
}

.wrap-datos h1{
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 10px;
}

.wrap-datos .subs h3{
    font-family: 'teko',
    sans-serif !important;
    text-align: center;
    color:#363636;
    display: block;
    font-size: 1.1em;
    margin-block-start: 0.10em;
    margin-block-end: 0.10em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.wrap-datos h4{
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 10px;
}



.wrap-datos label{
    margin: auto 10px;
    text-align: right;
    padding-left: 15px;
    height: 20%;
    width: 10%;
}

.wrap-datos .datos-personales input{
    cursor: not-allowed;
}


.wrap-datos input, .wrap-datos select{
    font-family: sans-serif;
    background: #f5f5f5;
    
    border: 1px solid #f5f5f5;
    border-radius: 7px;
    margin:auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 0.9em;

    margin-right: 10px;
    width: 100%;

}

.wrap-datos .dp-campo{
    margin-bottom: 15px;
}

.datos-personales{
    height: 100%;
    width: 100%;
}

.wrap-datos{
    width: 65%;
    height: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 5%;
}

a:hover{
    text-decoration: underline;
    cursor: pointer;
}

a{
    color: #48A8E6;
}

.wrap-navegacion{
    margin: 5px auto;
    width: 25%;
    max-width: 350px;
    min-width: 150px;
}

.main-page {
    width: 90%;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.barra-navegacion div ul li a:hover{
    color: #868585;
}

.barra-navegacion div ul li a{
    color: #FFFFFF;
    padding: 15px 0px;
}

.barra-navegacion div ul li{
    margin: 0px 15px;
    border-color: #FFFFFF;
}

.barra-navegacion div ul{
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.barra-navegacion div{
    height: 100%;
    display: flex;
    align-items: center;
}

.barra-navegacion{
    margin: 0px auto;
    width: 90%;
    height: 51px;
    background: rgba(104, 36, 68, 0.98);
}

a{
    text-decoration: none;
    background-color: transparent;
}

.header {
    width: 90%;
    height: auto;
    padding: 0px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header img {
    width: auto;
    margin: 0px 5px 0px;
}
  
.header h1 {
    font-family: 'teko',
    sans-serif !important;
    text-align: center;
    color:#363636;
    display: block;
    font-size: 2em;
    margin-block-start: 0.10em;
    margin-block-end: 0.10em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.header h2 {
    font-family: 'teko',
    sans-serif !important;
    text-align: center;
    color:#363636;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.10em;
    margin-block-end: 0.10em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.header h3 {
    font-family: 'teko',
    sans-serif !important;
    text-align: center;
    color:#363636;
    font-size: 1.1em;
    margin-block-start: 0.10em;
    margin-block-end: 0.10em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    background: #FFFFFF;
    font-family: sans-serif;
}

.center-content {
    justify-content: center;
    align-items: center;
}

.azul {
    background-color: #48A8E6;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.form-item {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.form-item .form-campo {
    display: inline-block;
    width: 100%;
}

.form-item .form-label {
    display: inline-block;
    width: 20%;
}

.titulo {
    width: 80%;
    margin: auto;
    text-align: justify;
}

/* @media(max-width: 768px) {
    .form-item {
        flex-direction: column;
    }
} */


/* 
.wrap-datos .dp-carrera div{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    text-align: right;
    height: auto;
} */

/* .wrap-datos .dp-carrera div{
    margin-top: 200px;
} */

.Idp-carrera{
 margin-bottom: 15px;
}
@media (min-width: 768px){
    .wrap-datos .dp-carrera div{
        margin: unset;
        margin-right: 5px;
        display: flex;
        flex-direction: row;
        text-align: right;
        height: auto;
    }
}