.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.contenido {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 10px auto 10px;
    width: 80%;
}

.item-table {
    margin: 0 10px 0;
}

.row-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.button {
    background: rgba(104, 36, 68, 1);
    color: #FFFFFF;
    border: 1px solid #050505;
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1.5em;
}

.button:hover {
    background: rgba(104, 36, 68, 0.87);
}

.center-content {
    
}