{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/headerAdmin.html' %}
{% endblock %}

{% block body %}

<div class="main-page">
    <div class="contenido center-content">
        <h3>Estadisticas</h3>
        <p>Permite descargar estadisticas de solicitudes de los reportes semanales, mensuales, trimestrales y anuales.</p>
        <ul>
            <li><a href="/reporte/semanal">Reportes semanales</a></li>
            <li><a href="/reporte/mensual">Reportes mensuales</a></li>
            <li><a href="/reporte/trimestral">Reportes trimestrales</a></li>
            <li><a href="/reporte/semestral">Reportes anuales</a></li>
        </ul>
    </div>
</div>

{% endblock %}