{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/headerAdmin.html' %}
{% endblock %}

{% block body %}

<div class="main-page">
    <div class="contenido">
        <h3>Expedientes</h3>
        <p>Permite descargar estadisticas de solicitudes de los reportes semanales, mensuales, trimestrales y anuales.</p>
        <ul>
            <li>Reportes semanales</li>
            <li>Reportes mensuales</li>
            <li>Reportes trimestrales</li>
            <li>Reportes anuales</li>
        </ul>
    </div>
</div>

{% endblock %}