{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/headerAdmin.html' %}
{% endblock %}

{% block body %}

<div class="main-page">
    <div class="contenido center-content">
        <p class="">Apartados:</p>
        <ul>
            <li>Expedientes: Revisión y validación de expedientes.</li>
            <li>Reportes: Permite revisar los expedientes por alumno, permitiendo revisar los reportes ademas de permitir subir la constancia de liberación.</li>
            <li>Completados: Permite visualizar y descargar excel de los alumnos que ya terminaron el servicio social.</li>
            <li>Estadisticas: Permite descargar estadisticas de solicitudes de los reportes semanales, mensuales, trimestrales y anuales.</li>
            <li> <a href="/admin/crear-token">Alta Administrador</a>: Permite agregar un nuevo usuario administrador.</li>
        </ul>
    </div>
</div>
<style>
    li, a {
    font-size: 17px;
    }

</style>
{% endblock %}