{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/headerAdmin.html' %}
{% endblock %}

{% block body %}

<div class="main-page column-container">

    <div class="barra-lateral">
        <h4>{{expediente.nombre}}</h4>
        <h4>{{expediente.paterno}} {{expediente.materno}} </h4>
        <p><strong>Número de registro:</strong> {{expediente.numero}}</p>
        <p><strong>Boleta:</strong> {{expediente.boleta}}</p>
        <p><strong>Carrera:</strong> {{expediente.carrera}}</p>
        <p><strong>Prestatario:</strong> {{expediente.prestatario}}</p>
        <p><strong>Fecha Inicio:</strong> {{expediente.f_inicio}}</p>
        <p><strong>Fecha Término:</strong> {{expediente.f_termino}}</p>
        <p><strong>Correo electronico:</strong> {{expediente.correo_electronico}}</p>
        <p><strong>Fecha registro:</strong> {{expediente.f_envio}}</p>
    </div>
    <div class="contenido barra-central">
        <div class="row-container">
            <div>
                <h3>Expediente</h3>
                <p></p>
            </div>
        </div>
        <table>
            <tr>
                <th>#</th>
                <th>Documento</th>
                <th>Estado</th>
                <th>Fecha de envio</th>
                <th>Fecha de aceptado</th>
                <th>Enlace</th>
                <th></th>
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">1</td>
                <td class="centrar-texto">Expediente</td>
                <td class="centrar-texto">{{documentos[0].status}}</td>
                <td class="centrar-texto">{{documentos[0].f_envio}}</td>
                <td class="centrar-texto">{{documentos[0].f_aceptado}}</td>
                {% if (documentos[0].status == "ACEPTADO" or documentos[0].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto"><a href="">Visualizar</a></td>
                {% else %}
                    <td class="centrar-texto">-</td>
                {% endif %}
                {% if (documentos[0].status == "ACEPTADO") %}
                    <td class="centrar-texto">ACEPTADO</td>
                {% elif (documentos[0].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto">
                        <button>Aceptar</button>
                        <button>Rechazar</button>
                    </td>
                {% else %}
                    <td class="centrar-texto">En espera</td>
                {% endif %}
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">2</td>
                <td class="centrar-texto">Evaluación de desempeño</td>
                <td class="centrar-texto">{{documentos[1].status}}</td>
                <td class="centrar-texto">{{documentos[1].f_envio}}</td>
                <td class="centrar-texto">{{documentos[1].f_aceptado}}</td>
                {% if (documentos[1].status == "ACEPTADO" or documentos[1].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto"><a href="">Visualizar</a></td>
                {% else %}
                    <td class="centrar-texto">-</td>
                {% endif %}
                {% if (documentos[0].status == "ACEPTADO") %}
                    <td class="centrar-texto">ACEPTADO</td>
                {% elif (documentos[0].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto">
                        <button>Aceptar</button>
                        <button>Rechazar</button>
                    </td>
                {% else %}
                    <td class="centrar-texto">En espera</td>
                {% endif %}
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">3</td>
                <td class="centrar-texto">Carta Término</td>
                <td class="centrar-texto">{{documentos[2].status}}</td>
                <td class="centrar-texto">{{documentos[2].f_envio}}</td>
                <td class="centrar-texto">{{documentos[2].f_aceptado}}</td>
                {% if (documentos[2].status == "ACEPTADO" or documentos[2].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto"><a href="">Visualizar</a></td>
                {% else %}
                    <td class="centrar-texto">-</td>
                {% endif %}
                {% if (documentos[0].status == "ACEPTADO") %}
                    <td class="centrar-texto">ACEPTADO</td>
                {% elif (documentos[0].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto">
                        <button>Aceptar</button>
                        <button>Rechazar</button>
                    </td>
                {% else %}
                    <td class="centrar-texto">En espera</td>
                {% endif %}
            </tr>
            <tr class="item-table">
                <td class="centrar-texto">4</td>
                <td class="centrar-texto">Constancia de liberación</td>
                <td class="centrar-texto">{{documentos[3].status}}</td>
                <td class="centrar-texto">{{documentos[3].f_envio}}</td>
                <td class="centrar-texto">{{documentos[3].f_aceptado}}</td>
                {% if (documentos[3].status == "ACEPTADO" or documentos[3].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto"><a href="">Visualizar</a></td>
                {% else %}
                    <td class="centrar-texto">-</td>
                {% endif %}
                {% if (documentos[0].status == "ACEPTADO") %}
                    <td class="centrar-texto">ACEPTADO</td>
                {% elif (documentos[0].status == "ESPERA APROBACION") %}
                    <td class="centrar-texto">
                        <button>Aceptar</button>
                        <button>Rechazar</button>
                    </td>
                {% else %}
                    <td class="centrar-texto">En espera</td>
                {% endif %}
            </tr>
        </table>
    </div>

</div>

<div class="fondo_transparente">
    <div class="modal">
        <div class="modal_cerrar">
            <span>x</span>
        </div>
        <div class="modal_titulo">VENTANA MODAL</div>
        <div class=" red">
            <textarea class="textArea" name="razonRechazo" id="" ></textarea>
        </div>
        <div class="modal_botones">
            <a href="" class="boton">Cancelar</a>
            <a href="" class="boton">Enviar</a>
        </div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

    .textArea {
        resize: none;
    }

    body{
        margin: 0;
        font-family: 'Roboto', sans-serif;
    }
    .page{
        background: url(img/foto.jpg) center;
        height: 100vh; 
        display: flex;          
        justify-content: center;
        align-items: center;
    }
    .fondo_transparente{
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.226);
        position: absolute;
        height: 100vh;
        width: 100%;
        display: none;
    }
    .modal{
        background: linear-gradient(0deg,white 70%, crimson 30%);
        width: 600px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 30px;

    }
    .modal_cerrar{
        background: white;
        position: absolute;
        right: -20px;
        color: crimson;
        top: -20px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .modal_titulo{
        color: white;
        font-size: 40px;
    }
    .modal_mensaje{            
       padding: 10px 30px;
    }
    .modal_botones{      
        width: 100%;    
       background: whitesmoke;
       border-top:whitesmoke 1px;
       padding-top: 20px;
       display: flex;
       justify-content: space-evenly;
    }
    
    .boton{
        background: white;
        padding: 8px 30px;
        color: crimson;
        text-decoration: none;
        border-radius: 25px;
        border:1px solid crimson
    }
    .boton:hover{
        background: crimson;
        color: white;
    }
        
</style>

<script>
    document
    .getElementById("btnAbrir")
    .addEventListener("click",function() {
        document.getElementsByClassName("fondo_transparente")[0].style.display="block"
        return false
    })

    document
    .getElementsByClassName("modal_cerrar")[0].
    addEventListener("click",function(){
        document.getElementsByClassName
        ("fondo_transparente")[0].style.display="none"
    })
</script>
{% endblock %}