{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/headerAdmin.html' %}
{% endblock %}

{% block body %}

<div class="main-page">
    <div class="contenido center-content">
        <div class="row-container">
            <div>
                <h3>Preregistro</h3>
                <p>Este apartado nos permite visualizar los alumnos que estan solicitando la aceptación de su preregistro, donde al seleccionar </p>
            </div>
            
            <a><button class="btnExport button">Generar Excel</button></a>
        </div>
        <table>
            <tr>
                <th>Boleta</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Semestre</th>
                <th>Genero</th>
                <th>Prestatario</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Termino</th>
                <th>Correo Electronico</th>
                <th>Estatus</th>
                <th># Registro</th>
                <th>Registro Lista</th>
                <th>Fecha de envio</th>
            </tr>
            {% for item in registros %}
                <tr class="item-table">
                    <td class="centrar-texto">
                        <a href="/admin/expediente/{{item.boleta}}">
                            {{item.boleta}}
                        </a>
                    </td>
                    <td>{{item.nombre}}</td>
                    <td class="centrar-texto">{{item.carrera}}</td>
                    <td class="centrar-texto">{{item.semestre}}</td>
                    <td class="centrar-texto">{{item.genero}}</td>
                    <td>{{item.prestatario}}</td>
                    <td class="centrar-texto">{{item.f_inicio}}</td>
                    <td class="centrar-texto">{{item.f_termino}}</td>
                    <td class="centrar-texto">{{item.correo_electronico}}</td>
                    <td class="centrar-texto">{{item.estatus}}</td>
                    <td class="centrar-texto">{{item.numero}}</td>
                    <td class="centrar-texto">{{item.registro_lista}}</td>
                    <td class="centrar-texto">{{item.f_envio}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script>
    attachEventToBtnExport()

    function attachEventToBtnExport() {
        const bntExportElement = document.querySelector( '.btnExport' )
        bntExportElement.addEventListener( 'click', exportExcel )
    }

    async function exportExcel() {
        let response = await fetch( '/admin/generar_preregistros' )
        let blobResponse = await response.blob()
        const fileName = 'preregistros.xlsx'
        downloadExcelSilently( blobResponse, fileName )
    }
    function downloadExcelSilently( blobExcelFile, filename ) {
        const url = window.URL.createObjectURL( blobExcelFile );
        const hiddenAnchor = document.createElement( "a" );
        hiddenAnchor.style.display = "none";
        hiddenAnchor.href = url;
        hiddenAnchor.download = filename;
        document.body.appendChild( hiddenAnchor );
        hiddenAnchor.click();
        window.URL.revokeObjectURL( url );
    }
</script>

{% endblock %}