<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="../static/css/estilosAlumnos.css">
</head>

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

<body>    
    <div class="main-page">
        <div class="wrap-datos">
            <form action="/registro" method="post">
                <div class="datos-personales" id="idPersonales">
                    <h1>Registro al sistema</h1>
                    <div>
                        <h4> Revise sus datos recuperados por el archivo de carta compromiso emitido por el SISS</h4>
                    </div>

                    <div class="dp-campo">
                        <div>
                            <label>Nombre(s)</label>
                            <div class="Idp-campo">
                                <input name="Idp-nombre" type="text" readonly="readonly" placeholder="Nombre(s)" value='{{ data.nombre }}'/>
                            </div>
                            
                        </div>

                    </div>

                    <div class="dp-campo">
                        
                        <div class="dp-apellidoM">
                            <label>Apellidos</label>
                            <div class="Idp-campo">
                                <input name="Idp-apellidoP" type="text" readonly="readonly" placeholder="Apellido Paterno" value='{{data.paterno}}' />
                                <input name="Idp-apellidoM" type="text" readonly="readonly" placeholder="Apellido Materno" value='{{data.materno}}'/>
                            </div>
                            
                        </div>
                    </div>

                    <div class="dp-campo">
                        
                        <div class="dp-boleta">
                            <label>Boleta</label>
                            <div class="Idp-campo">
                                <input name="Idp-Boleta" type="text" readonly="readonly" placeholder="Boleta" value='{{data.boleta}}'/>
                            </div>
                            
                        </div>
                    </div>

                    <div class="dp-campo">
                        <div class="dp-CURP">
                            <label>CURP</label>
                            <div class="Idp-campo">
                                <input name="Idp-CURP" type="text" readonly="readonly" placeholder="CURP" value='{{data.curp}}'/>
                            </div>
                            
                        </div>
                    </div>
                    
                    <div class="dp-carrera">
                        <div class="dp-Carrera">
                            <label class="dp-Carrera">Carrera</label>
                            <div class="Idp-campo">
                                <div class="Idp-carrera">
                                <select  name ="Idp-carrera" type="text" placeholder="Carrera" required >
                                    <option value="0">Seleccione</option>
                                    <option value="1" {% if data.id_carrera==1 %} selected="selected" {% endif %}>ESCA.UST CONTADOR PÚBLICO</option>
                                    <option value="2" {% if data.id_carrera==2 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN RELACIONES COMERCIALES</option>
                                    <option value="3" {% if data.id_carrera==3 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN NEGOCIOS INTERNACIONALES</option>
                                    <option value="4" {% if data.id_carrera==4 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN ADMINISTRACION Y DESARROLLO EMPRESARIAL</option>
                                    <option value="5" {% if data.id_carrera==5 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN COMERCIO INTERNACIONAL</option>
                                    <option value="6" {% if data.id_carrera==6 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN COMERCIO INTERNACIONAL (SADE)</option>
                                    <option value="7" {% if data.id_carrera==7 %} selected="selected" {% endif %}>ESCA.U.TEP. LICENCIADO EN NEGOCIOS INTERNACIONALES</option>   
                                </select>
                               </div>
                                <input name="Idp-c_carrera" type="text" readonly="readonly" placeholder="Clave Carrera" value='{{data.clave_carrera}}' />
                                <div class="messages"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dp-campo">
                        
                        <div class="dp-Semestre">
                            <label class="dp-Semestre">Semestre</label>
                            <div class="Idp-campo">
                                <select name ="Idp-semestre" type="text" placeholder="Semestre" required >
                                    <option value="0">Seleccione</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option> 
                                </select>
                                <div class="messages"></div>
                            </div>
                        </div>
                    </div>


                    <div class="dp-campo">
                        
                        <div class="dp-Genero">
                            <label class="dp-Genero">Sexo</label>
                            <div class="Idp-campo">
                                <select name ="Idp-genero"type="text" placeholder="Genero" required >
                                    <option value="0">Seleccione</option>
                                    <option value="Masculino" {% if data.id_sexo==1 %} selected="selected" {% endif %}>Masculino</option>
                                    <option value="Femenino" {% if data.id_sexo==2 %} selected="selected" {% endif %}>Femenino</option>>
                                </select>
                                <div class="messages"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dp-campo">
                        <div>
                            <label>Prestatario</label>
                            <div class="Idp-campo">
                                <input name="Idp-prestatario" type="text" placeholder="Prestatario" value="{{data.prestatario}}"/>
                            </div>
                            
                        </div>

                    </div>

                    <div class="dp-campo">
                        <div>
                            <label>Programa</label>
                            <div class="Idp-campo">
                                <input name="Idp-programa" type="text" placeholder="Programa" value="{{data.programa}}"/>
                            </div>
                            
                        </div>

                    </div>

                    <div class="dp-campo">

                        <div class="dp-FInicio">
                            <label>Fecha inicio Servicio Social</label>
                            <div class="Idp-campo">
                                <input name="Idp-FInicio" type="date" placeholder="Fecha Inicio" value="{{data.fecha_inicio}}"/>
                            </div>
                            
                        </div>
                    </div>

                    <div class="dp-campo">

                        <div class="dp-FTermino">
                            <label>Fecha término Servicio Social</label>
                            <div class="Idp-campo">
                                <input name="Idp-FTermino" type="date" placeholder="Fecha Término" value="{{data.fecha_termino}}"/>
                            </div>
                            
                        </div>
                    </div>

                    <div class="dp-campo">
                        
                        <div class="dp-email">
                            <label>Correo Electronico</label>
                            <div class="Idp-campo">
                                <input name="Idp-email" type="text" readonly="readonly" placeholder="Correo Electronico" value="{{data.correo}}"/>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div  class="dp-campo">
                    <button class="Idp-campo" type="submit" id="boton">Guardar</button>
                </div>
                
            </form>
        </div>
    </div>

    <script src="static/js/funciones.js"></script>
    <!--<script src="/js/lecturaJSONAlumno.js"></script>-->
    
</body>
</html> 