{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block body %}

<div class="main-page">
    <div class="wrap-datos">
        <form action="/registro" method="post">
            <div class="datos-personales" id="idPersonales">
                <h1>REGISTRO AL SISTEMA</h1>
                <div>
                    <h4> Revise sus datos recuperados por el archivo de carta compromiso emitido por el SISS</h4>
                </div>


                <div>
                    <h4> DATOS DEL PRESTADOR</h4>
                </div>

                {% if error %}
                <div class=" banner_error red no-margin no-padding dp-campo">
                    <p class="error-message" >{{ error }}</p> 
                </div>
                                      
                {% endif %}

                <div class="dp-campo">
                    <label class="label_confirmacion" style="display: none;" >{{data.titulo1}}</label>
                    <input class="Idp-campo" name ="Idp-titulo" type="text" readonly="readonly" value='{{ data.titulo1 }}' style="display: none;"/>
                </div>


                <div class="dp-campo">
                        <label class="label_confirmacion">Nombre(s)</label>
                            <input class="Idp-campo" 
                            name="Idp-nombre" 
                            type="text" 
                            readonly="readonly" 
                            placeholder="Nombre(s)" 
                            value='{{ data.nombre }}'/>
                </div>

                <div class=" dp-campo dp-apellidoM blue">
                        <label class="label_confirmacion">Apellidos</label>  
                        <div class="dos-columnas ">
                            <input class="Idp-campo" 
                            name="Idp-apellidoP" 
                            type="text" readonly="readonly" 
                            placeholder="Apellido Paterno" 
                            value='{{data.paterno}}' />
                            <input class="Idp-campo" 
                            name="Idp-apellidoM" 
                            type="text" 
                            readonly="readonly" 
                            placeholder="Apellido Materno" 
                            value='{{data.materno}}'/>      
                        </div>                   
                </div>

                <div class="dos-columnas">      
                        <div class="dp-medio dp-campo green">
                            <label class="label_confirmacion">Boleta</label>
                            <div class="Idp-campo">
                                <input name="Idp-Boleta" type="text" readonly="readonly" placeholder="Boleta" value='{{data.boleta}}'/>
                            </div>        
                        </div>

            
                        <div class="dp-medio  dp-campo no-margin">
                            <label class="label_confirmacion">CURP</label>
                            <div class="Idp-campo">
                                <input name="Idp-CURP" 
                                type="text" 
                                readonly="readonly" 
                                placeholder="CURP" 
                                value='{{data.curp}}'/>
                            </div>
                        </div>
                </div>
                
                <div class="dp-campo dp-Carrera ">
                    <label class="label_confirmacion ">Carrera</label>
                    <div class="Idp-campo">
                        <select class="select-css" name ="Idp-carrera" type="text" placeholder="Carrera"  required >
                            <option value="">Seleccione</option>
                            <option value="ESCA.UST CONTADOR PÚBLICO" {% if data.id_carrera==1 %} selected="selected" {% endif %}>ESCA.UST CONTADOR PÚBLICO</option>
                            <option value="ESCA.UST LICENCIADO EN RELACIONES COMERCIALES" {% if data.id_carrera==2 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN RELACIONES COMERCIALES</option>
                            <option value="ESCA.UST LICENCIADO EN NEGOCIOS INTERNACIONALES" {% if data.id_carrera==3 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN NEGOCIOS INTERNACIONALES</option>
                            <option value="ESCA.UST LICENCIADO EN ADMINISTRACION Y DESARROLLO EMPRESARIAL" {% if data.id_carrera==4 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN ADMINISTRACION Y DESARROLLO EMPRESARIAL</option>
                            <option value="ESCA.UST LICENCIADO EN COMERCIO INTERNACIONAL." {% if data.id_carrera==5 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN COMERCIO INTERNACIONAL.</option>
                            <option value="ESCA.UST LICENCIADO EN COMERCIO INTERNACIONAL (SADE)" {% if data.id_carrera==6 %} selected="selected" {% endif %}>ESCA.UST LICENCIADO EN COMERCIO INTERNACIONAL (SADE)</option>
                            <option value="ESCA.U.TEP. LICENCIADO EN NEGOCIOS INTERNACIONALES" {% if data.id_carrera==7 %} selected="selected" {% endif %}>ESCA.U.TEP. LICENCIADO EN NEGOCIOS INTERNACIONALES</option>  
                        </select>
                        <div class="messages"></div>
                    </div>
                </div>

                <div class="dp-campo dp-clave_carrera">
                    <label class="label_confirmacion">Clave de la carrera</label>
                    <div class="Idp-campo">
                        <input name="Idp-clave_carrera" type="text" readonly="readonly" placeholder="Clave_carrera" value='{{ data.clave_carrera }}'/>
                        <div class="messages"></div>
                    </div>   
                </div>


               <div class="dos-columnas">
                <div class="dp-campo dp-medio">
                    
                    <div class="dp-Semestre">
                        <label id="errorMessage" class="label_confirmacion" >Semestre</label>
                        <div class="Idp-campo">
                            <select id= "id_semestre"class="select-css"  {% if errorsemestre %} style="border-color: #8B0000; border: 1px double #8B0000;" {% endif %} name ="Idp-semestre" type="text" placeholder="Semestre" required >
                                <option value="">Seleccione</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option> 
                            </select>
                            <div class="messages"></div>
                        </div>
                    </div>
                </div>

                <div class="dp-campo dp-medio">
                    
                    <div class="dp-Genero">
                        <label class="label_confirmacion">Sexo</label>
                        <div class="Idp-campo">
                            <select class="select-css" name ="Idp-genero"type="text" placeholder="Genero"   required >
                                <option value="">Seleccione</option>
                                <option value="Masculino" {% if data.id_sexo==1 %} selected="selected" {% endif %}>Masculino</option>
                                <option value="Femenino" {% if data.id_sexo==2 %} selected="selected" {% endif %}>Femenino</option>>Femenino</option>
                            </select>
                            <div class="messages"></div>
                        </div>
                    </div>
                </div>
               </div>

               <div class="dos-columnas">
                    <div class="dp-campo dp-medio">
                        <div class="dp-telefono">
                            <label class="label_confirmacion">Teléfono</label>
                            <div class="Idp-campo">
                                <input name="Idp-telefono" type="text" readonly="readonly" placeholder="Telefono" value='{{ data.tel_particular}}'/>
                                <div class="messages"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dp-campo dp-medio">
                        <div class="dp-escolaridad">
                            <label class="label_confirmacion">Escolaridad</label>
                            <div class="Idp-campo">
                                <input name="Idp-escolaridad" type="text" readonly="readonly" placeholder="Escolaridad" value='{{ data.escolaridad}}'/>
                                <div class="messages"></div>
                            <div class="messages"></div>
                        </div>
                    </div>
                </div>
               </div>

               <div class="dp-campo">  
                    <div class="dp-email">
                        <label class="label_confirmacion">Correo electrónico</label>
                        <div class="Idp-campo">
                            <input name="Idp-email" type="text" readonly="readonly" placeholder="Correo Electronico" value="{{data.correo}}"/>
                        </div>
                    
                    </div>
                </div>

                <div class="dp-campo">  
                    <div class="dp-direccion">
                        <label class="label_confirmacion">Dirección</label>
                        <div class="Idp-campo">
                            <input name="Idp-direccion" type="text" readonly="readonly" placeholder="Dirección" value="{{data.direccion}}"/>
                        </div>
                    
                    </div>
                </div>

                <div class="dos-columnas">
                    <div class="dp-campo dp-medio">
                        <div class="dp-CodPostal">
                            <label class="label_confirmacion">Código Postal</label>
                            <div class="Idp-campo">
                                <input name="Idp-codPostal" type="text" readonly="readonly" placeholder="CodPostal" value='{{ data.codigo_postal}}'/>
                                <div class="messages"></div>
                            </div>
                        </div>
                    </div>

                    <div class="dp-campo dp-medio">
                        <div class="dp-alcaldia">
                            <label class="label_confirmacion">Alcaldía y Estado</label>
                            <div class="Idp-campo">
                                <input name="Idp-alcaldia" type="text" readonly="readonly" placeholder="Alcaldía" value='{{ data.alcaldia}}'/>
                                <div class="messages"></div>
                            <div class="messages"></div>
                        </div>
                    </div>
                </div>
               </div>
                



                <div>
                    <h4> DATOS DEL PRESTATARIO</h4>
                </div>


                <div class="dp-campo ">
                        <label class="label_confirmacion lbl-confirm">Prestatario</label>     
                            <input class="Idp-campo" name="Idp-prestatario" type="text" readonly="readonly" placeholder="Prestatario" value="{{data.prestatario}}" />
                </div>
                
                <div class="dp-campo ">
                    <label class="label_confirmacion">Código del prestatario</label>
                    <div class="Idp-campo">
                        <input name="Idp-cod_prestatario" type="text" readonly="readonly" placeholder="Cod_prestatario" value='{{ data.codigo }}'/>
                    </div>   
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion lbl-confirm">Programa</label>     
                        <input class="Idp-campo" name="Idp-programa" type="text" readonly="readonly" placeholder="Programa" value="{{data.programa}}" />
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Clave del Programa</label>
                    <div class="Idp-campo">
                        <input name="Idp-clave_programa" type="text" readonly="readonly" placeholder="Clave_programa" value='{{ data.clave_programa }}'/>
                    </div>   
                </div>

                <div class="dos-columnas">
                    <div class="dp-campo dp-FInicio">
                        <label class="label_confirmacion">Fecha inicio Servicio Social</label>
                        <div class="Idp-campo">
                            <input name="Idp-FInicio" type="date" placeholder="Fecha Inicio" value="{{data.fecha_inicio}}"/>
                        </div>     
                    </div>

              
                    <div class="dp-campo dp-FTermino">
                        <label class="label_confirmacion">Fecha término Servicio Social</label>
                        <div class="Idp-campo">
                            <input name="Idp-FTermino" type="date" placeholder="Fecha Término" value="{{data.fecha_termino}}"/>
                        </div>   
                    </div>
                </div>

                <div class="dp-campo dp-Actual">
                    <label class="label_confirmacion" style="display: none;" >Fecha Actual </label>
                    <div class="Idp-campo">
                      <input style="display: none;" id="fecha_actual"name="Idp-FActual" type="date" placeholder="Fecha Actual" />
                    </div>   
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Responsable</label>
                    <div class="Idp-campo">
                        <input name="Idp-responsable" type="text" readonly="readonly" placeholder="Responsable" value='{{ data.responsable }}'/>
                    </div>   
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Cargo</label>
                    <div class="Idp-campo">
                        <input name="Idp-cargo" type="text" readonly="readonly" placeholder="Cargo" value='{{ data.cargo }}'/>
                    </div>   
                </div>

                <div class="dos-columnas">
                    <div class="dp-campo">
                        <label class="label_confirmacion">Teléfono Responsable</label>
                        <div class="Idp-campo">
                            <input name="Idp-tel-responsable" type="text" placeholder="Teléfono Responsable" value="{{data.tel_responsable}}"/>
                        </div>     
                    </div>

              
                    <div class="dp-campo dp-FTermino">
                        <label class="label_confirmacion">Correo Prestatario</label>
                        <div class="Idp-campo">
                            <input name="Idp-correo_prestatario" type="text" placeholder="Correo Responsable" value="{{data.correo_prestatario}}"/>
                        </div>   
                    </div>
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Calle y Número</label>
                    <div class="Idp-campo">
                        <input name="Idp-Calleynum" type="text" readonly="readonly" placeholder="Calle y Número" value='{{ data.ubicacion_calleynum }}'/>
                    </div>   
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Colonia</label>
                    <div class="Idp-campo">
                        <input name="Idp-Colonia" type="text" readonly="readonly" placeholder="Colonia" value='{{ data.ubicacion_colonia }}'/>
                    </div>   
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Alcaldía y Estado</label>
                    <div class="Idp-campo">
                        <input name="Idp-Alcaldia_prestatario" type="text" readonly="readonly" placeholder="Alaldía" value='{{ data.ubicacion_alcaldia }}'/>
                    </div>   
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Código Postal</label>
                    <div class="Idp-campo">
                        <input name="Idp-cpPrestatario" type="text" readonly="readonly" placeholder="Código Postal" value='{{ data.ubicacion_codpos }}'/>
                    </div>   
                </div>

                <div>
                    <h4> GENERACIÓN DE CONTRASEÑA </h4>
                    <h4>
                        Esta contraseña será su acceso al Sistema Intrainstitucional de Servcio Social 
                    </h4>
                    <h4>
                        Debe guardarla en un lugar seguro 
                    </h4>
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Contraseña</label>
                    <div class="Idp-campo">
                        <input id="password" name="Idp-contraseña" type="password"  placeholder="Contraseña" required/>
                    </div>   
                </div>

                <div class="dp-campo ">
                    <label class="label_confirmacion">Confirmar Contraseña</label>
                    <div class="Idp-campo">
                        <input id="confirmPassword" name="Idp-Confirmar-contraseña" type="password"  placeholder="Confirmar Contraseña" required/>
                    </div>   
                </div>

                <div id="error-message" style="display:none ;" class=" banner_error red no-margin no-padding dp-campo">
                    <p class="error-message"  > Las contraseñas deben ser iguales </p> 
                </div>

                <div id="error-message-2" style="display:none ;" class=" banner_error red no-margin no-padding dp-campo">
                    <p class="error-message"  > La contraseña debe tener al menos 8 caracteres, una mayúscula y un número </p> 
                </div>

            </div>

            <div  class="dp-campo">
                <input class="Idp-campo label_confirmacion" type="submit" id="boton" value="Registrarse"> 
            </div>
            
        </form>
    </div>
</div>

<script>
    document.getElementById("id_semestre").addEventListener("change", function() 
    {
        var selectedOption = this.value;
        var errorMessage = document.getElementById("errorMessage");
  
        if (selectedOption === "") 
        {
            errorMessage.style.color = "red";
        }     
        else 
        {
            errorMessage.style.color = "#000000";
        }
    });
  </script>

<script>
    const hoy = new Date();
    const zona_horaria = -300; // en minutos
    const offset = hoy.getTimezoneOffset();
    hoy.setMinutes(hoy.getMinutes() + offset + zona_horaria);
    const fecha_formateada = hoy.toISOString().substr(0, 10);
    document.getElementById("fecha_actual").value = fecha_formateada;
  </script>

<script>
    
    document.addEventListener("submit", (Event)=>{
        console.log("Presionaste el boton guardar")
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        var errorMessage = document.getElementById("error-message");
        var errorMessage2 = document.getElementById("error-message-2");
        var regex = /^(?=.*\d)(?=.*[A-Z]).{8,}$/;
        if (!regex.test(password)) 
        {
            //errorMessage2.innerHTML = "La contraseña debe tener al menos 8 caracteres, una mayúscula y un número";
            Event.preventDefault();
            console.log("Contraseña no cumple con los requisitos");
            errorMessage2.style.display="block";
        }
        console.log(password);
        console.log(confirmPassword);
        console.log(errorMessage);
        if (password != confirmPassword) 
        {
            // errorMessage.innerHTML = "Las contraseñas no coinciden";
            Event.preventDefault();
            console.log("Contraseñas diferentes");
            errorMessage.style.display="block";
        }     


    })
  </script>
<script src="static/js/funciones.js"></script>

{% endblock %}