{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block body %}


<div class="main-page"> 
        <p class="parrafo-index no-margin">El Sistema Instrainstitucional de Registro y Seguimiento para Servicio Social de la ESCA 
            Unidad Santo Tomas tiene como objetivo acompañar al alumno en todo el proceso de gestión para llevar 
            a cabo el Servicio Social. Desde el momento en que envía su expediente una vez validado exitosamente hasta 
            la culminación del mismo a través de la entrega de su constancia de liberación de Servicio Social emitida por 
            la Dirección de Egresados y Servicio Social (DEYSS).
        </p>
    <div class="formulario1">

        <div class="inicio-sesion-form" id="idregistro">
            
            <form action="/" method="post" enctype="multipart/form-data">
                <div class="form-item">
                    <label class="form-label">Boleta: </label>
                    <div class="form-campo">
                        <input name="boleta">
                    </div>
                </div>

                <div class="form-item">
                    <label class="form-label">Contraseña: </label>
                    <div class="form-campo">
                        <input type="password" name="contrasena">
                    </div>
                </div>

                <div class="dp-campo">
                    <div class="center-content">
                        <div class="Idp-submit">
                            <input class="Idp-submit-letra" type="submit" value="Iniciar Sesión">
                        </div>   
                    </div>
                </div>
            </form>

            <p class="Registrate no-margin">¿Aún no tienes una cuenta? <a href="/registro">Registrate</a></p>

        </div>

    </div>

</div>

{% endblock %}