{% extends './layout.html' %}

{% block title %}{{ data.titulo }}{% endblock %}

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block body %}


<body>    
    <div class="main-page">
        <div class="wrap-datos">
            <h1>Bienvenido al sistema: {{ data.boleta }}</h1>
            <div>
                <h4> Tu contraseña es: {{data.contrasena}}</h4>
            </div>
        </div>
    </div>

    <script src="static/js/funciones.js"></script>
    <!--<script src="/js/lecturaJSONAlumno.js"></script>-->
    
</body>
</html>
{% endblock %} 