<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" sizes="192x192" href="{{url_for('static', filename='icon/ipn192.png')}}">
    <!-- <link rel="stylesheet" href="static/css/estilosAlumnos.css"> -->
</head>

{% block header %}
{% include 'components/header.html' %}
{% endblock %}

{% block body %}
    
<div class="main-page">
    <div class="wrap-datos">
        <div id="idregistro">
            <h1 class="titulo_Registro_sistema">REGISTRO AL SISTEMA</h1>
            <div>
                <h4> Para poder realizar el registro al sistema, 
                    se requiere subir la Carta Compromiso emitida por el 
                    SISS</h4>
            </div>

            {% if errorcarta %}
                <div class=" banner_error red no-margin no-padding dp-campo">
                    <p class="error-message" >{{ errorcarta }}</p> 
                </div>               
            {% endif %}
            

            <form action="/confirmacion_datos" method="post" enctype="multipart/form-data">
                <div class="dp-campo_registro">
                    <div>
                        <label class="form-label">Carta</label>
                        <div class="Idp-campo">
                            <input type="file" name="archivo" accept=".pdf" required>
                        </div>
                    </div>
                </div>

                <div class="dp-campo">
                    <div>
                        <label></label>
                        <div class="Idp-submit_registro">
                            <input type="submit">
                        </div>   
                    </div>
                </div>
            </form>
        </div>

    </div>

    

</div>

<script src="static/js/funciones.js"></script>
    
{% endblock %}